@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
}

/* Changes Color of Text and Cursor Selection Color*/
::selection {
    background-color: #3330fa;
    color: #fff;
}

/* Top Navigation Bar Attributes */
.navigation {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 200;
    background-image: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.8) 59%, transparent);
}

.logo-container {
    max-width: 950px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Dancing Script';
}

/* Main Content Section Attributes */
#main {
    max-width: 950px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px auto 20px auto;
    border-bottom: 1px solid rgba(15, 15, 15);
    padding-bottom: 60px;
}

.main-img {
    max-width: 350px;
    max-height: 700px;
    width: 100%;
}

.main-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.main-text {
    max-width: 400px;
    position: relative;
}

.main-text::before {
    content: 'Data Analyst';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -30px;
    font-size: 7rem;
    color: #296dff28;
    line-height: 7rem;
    font-weight: 700;
    z-index: -1;
}

.main-text strong {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.65rem;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
}

.main-text h1 {
    color: #fff;
    font-size: 5rem;
    line-height: 4rem;
    letter-spacing: 1px;
}

.main-text h1 span {
    color: #689af8;
}

.main-text p {
    color: #999999;
    margin: 30px 0px;
    letter-spacing: 1px;
    font-size: 1rem;
}

.main-text a, .summary-heading a, .dribble-btn-c a, .btn-c a, .about-heading a, .contact a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 6px;
    font-size: 0.8rem;
    border-bottom: 1px solid #689af8;
    padding: 10px 10px 10px 0px;
    transition: all 508ms cubic-bezier(0.77, 0, 0.175, 1);
}

.main-text a:hover, .summary-heading a:hover, .dribble-btn-c a:hover, .btn-c a:hover, .about-heading a:hover, .contact a:hover {
    padding: 10px;
    background-color: rgba(104, 154, 248, 0.1);
}

/* Summary Section Attributes */
#summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    width: 100%;
    margin: 80px auto 0px auto;
}

.summary-heading {
    max-width: 400px;
    width: 100%;
}

.summary-heading strong {
    color: #689af8;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.summary-heading h2 {
    color: #fff;
    font-size: 2.37rem;
    line-height: 2.9rem;
    margin: 20px 0px;
}

.summary-details {
    max-width: 470px;
    width: 100%;
    border: 1px solid rgba(15, 15, 15);
    padding: 20px;
}

.summary-details p {
    color: #999999;
    font-size: 1rem;
}

/* Languages Section Attributes */
#languages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    max-width: 950px;
    width: 100%;
    margin: 80px auto 50px auto;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(15, 15, 15);
}

.language-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.language-box h3 {
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: 1px;
}

.language-box h3 span {
    color: #689af8;
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.3rem;
    user-select: none;
}

.language-box ul {
    display: flex;
    background-color: #050505;
    padding: 10px 20px;
    border: 1px solid rgba(39, 39, 39, 0.4);
    margin-top: 10px;
    flex-wrap: wrap;
}

.language-box ul li {
    color: #dadada;
    margin-right: 20px;
    margin-top: 4px;
}

/* Process Section Attributes */
#process {
    width: 100%;
    max-width: 950px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(15, 15, 15);
}

.process-heading {
    width: 100%;
}

.process-heading h3, .project-heading h3 {
    font-size: 3rem;
    color: #fff;
    letter-spacing: 2px;
}

.process-heading h3 span, .project-heading h3 span {
    color: #689af8;
    font-size: 1.7rem;
}

.process-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
    width: 100%;
    margin-top: 50px;
}

.process-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.process-box strong {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.process-box ul {
    margin-top: 20px;
}

.process-box ul li {
    color: #fff;
    font-size: 1.12rem;
    margin: 8px 0px;
}

.process-box span {
    color: #296dff28;
    position: absolute;
    left: -30px;
    top: -30px;
    font-weight: 700;
    font-size: 4rem;
    z-index: -1;
}

/* Project Section Attributes */
#projects {
    width: 100%;
    margin: 80px auto;
    padding-bottom: 50px;
    position: relative;
}

#projects::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    max-width: 950px;
    width: 100%;
    height: 1px;
    background-color: rgba(39, 39, 39, 0.4);
}

.project-heading {
    width: 100%;
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.project-box {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000;
    position: relative;
}

.process-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.p-overlayer {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: rgba(32, 32, 32, 0.5);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.85) 100%);
    padding: 30px;
    transition: all ease 0.6s;
}

.p-overlayer strong {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 2px;
    border-left: 4px solid #689af8;
    line-height: 30px;
    padding-left: 20px;
    font-weight: 700;
}

.project-box:hover .p-overlayer {
    top: 0px;
}

.mySwiper {
    margin: 50px 0px;
    max-width: 1050px;
}

.slider-btns {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px 10px auto;
}

.swiper-button-next, .swiper-button-prev {
    position: static !important;
    transform: translate(0, 0);
    margin: 10px 0px 0px 10px !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 20px !important;
    font-weight: 800;
    color: #fff;
}

.dribble-btn-c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

/* Career And Education Section Attributes */
#career-education {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    width: 100%;
    margin: 20px auto;
    position: relative;
}

#career-education::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 1px;
    background-color: #141414;
}

.career h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3.1rem;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.career span {
    color: #689af8;
    font-size: 1.6rem;
    margin-left: 10px;
}

.c-box-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 100%;
}

.c-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.c-box h4 {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 3px solid #689af8;
    padding-left: 10px;
    line-height: 1.3rem;
}

.c-box strong {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 10px;
}

.c-box span {
    color: #6d6d6d;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-left: 10px;
    margin-top: 6px;
}

.btn-c {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px auto 50px auto;
    padding-bottom: 50px;
    max-width: 950px;
    border-bottom: 1px solid rgba(39, 39, 39, 0.4);
}

/* About Section Attributes */
#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 50px 0px;
    background-image: url(../img/about-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#about::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(32, 32, 32);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.375) 60%, rgb(0, 0, 0) 100%);
}

#about::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(32, 32, 32);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.375) 60%, rgb(0, 0, 0) 100%);
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    width: 100%;
    z-index: 100;
}

.about-heading {
    width: 380px;
}

.about-heading strong {
    color: #689af8;
    font-size: 0.87rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.about-heading h3 {
    color: #fff;
    font-size: 2.1rem;
    margin: 15px 0px;
    line-height: 2.8rem;
}

.about-details {
    width: 465px;
}

.about-details p {
    color: #999999;
    margin: 10px 0px;
}

/* Contact Section Attributes */
#contact {
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.contact strong {
    color: #689af8;
    font-size: 0.87rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.contact h3 {
    color: #fff;
    font-size: 2.37rem;
    letter-spacing: 1px;
}

.contact p {
    color: #999999;
    max-width: 640px;
    margin: 15px 0px;
    letter-spacing: 1px;
    text-align: center;
}

.contact p b {
    color: #fff;
    font-weight: 500;
}

/* Footer Attributes */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    width: 100%;
    margin: 100px auto 0px auto;
    padding: 20px;
}

footer span {
    color: #6d6d6d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

footer .footer-logo {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 1.3rem;
    font-family: 'Dancing Script';
}